<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>nexus-public</id>
      <repositories>
        <repository>
          <id>jboss-public-repository</id>
          <name>Nexus repository</name>
          <url>http://nexus.dev.freedom.nslabs.com.br/content/groups/public/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>nexus-public</activeProfile>
  </activeProfiles>
</settings>
